---
layout: archive
title: "Research & Publications"
permalink: /research/
author_profile: true
---

My primary research interests focus on mathematical methods in data science and machine learning, bridging classical areas like computational learning theory and modern advancements in deep learning theory. More specifically, my current research interest lies on:

- **Machine Learning Theory**: Studying various phenomena in classical machine learning, such as contrastive learning and dimensionality characterization of learning.
- **Deep Learning Theory**: Investigating the mathematical foundations and generalization properties of deep learning models and training methods.
- **Reinforcement Learning Theory**: Exploring online learning, multi-armed bandits, and game theory for agent-based learning.
- **Optimization in Machine Learning**: Analyzing algorithms and techniques for efficient and robust optimization in learning systems.
- **Differential Privacy & Robustness**: Ensuring the security and resilience of statistical algorithms.
- **Algorithms in Data Science & Computational Geometry**: Designing efficient algorithms for large-scale data analysis and geometric computations.

Beyond my primary focus, I have also worked on other fields that pique my interest, including number theory, graph theory, theoretical computer science, and deep learning in speech processing.
<br><br>

Please reach out to me if you would like to collaborate. I am very interested in collaborating on similar research projects.
<br><br>
<br><br>
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

 -->
